@model IEnumerable<Client.Models.MenuItem>

@{
    ViewData["Title"] = "Cart";
}


@if (ViewBag.message == "Cart Empty")
{
    <h2 class="text-danger justify-content-center">Cart Empty</h2>
    <p>Add menuitems to cart <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a></p>
}
else
{

    double total = 0;

    <h1>Cart</h1>
    <table class="table table-borderless">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FreeDelivery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfLaunch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                total = total + item.Price;
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.FreeDelivery == true)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfLaunch)
                    </td>
                    <td>
                        @if (item.Active == true)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @using (Html.BeginForm("DeleteFromCart", "Cart", new { @menuItemId = item.Id }, FormMethod.Post))
                        {

                            <button type="submit"><a>Delete</a></button>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h4 class="text-info justify-content-sm-end">Price- @total</h4>
}

